body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
.app_container {
  margin: 20px auto;
  height: 1200px;
  width: 1000px;
  display: flex;
}
.app_name {
  font-size: 25px;
  color: lightslategray;
  font-weight: bolder;
}
.app_draggableItem {
  height: 600px;
  width: 250px;
  border: 5px solid #5F9EA0;
}
.app_ul_container {
 list-style-type: none;
}
